<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/items.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>

    <main>
      <div class="wrapper">
        <div class="items-header">
          <h2>Items</h2>
          <a href="/items/new">New Item</a>
        </div>

        <div class="table-container">
          <table>
            <thead>
              <th>Name</th>
              <th>Category</th>
              <th>Rarity</th>
              <th class="numeric">Quantity</th>
              <th class="numeric">Gold Cost</th>
              <th>Actions</th>
            </thead>

            <tbody>
              <% items.map(item => { %>
              <tr>
                <td><%= item.item_name %></td>
                <td><%= item.category_name %></td>
                <td><%= item.rarity_name %></td>
                <td class="numeric"><%= item.quantity %></td>
                <td class="numeric"><%= item.gold_cost %></td>
                <td class="actions">
                  <div class="actions-container">
                    <a href="/items/<%= item.id %>">View</a>
                    <a href="/items/<%= item.id %>/edit">Edit</a>
                    <form action="/items/<%= item.id %>/delete" method="POST">
                      <button class="delete-btn">
                        <img
                          src="/img/delete-icon.svg"
                          alt="Trash can delete icon"
                          width="30"
                        />
                      </button>
                    </form>
                  </div>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </body>
</html>
